/* 🔔 Global Announcement Bar */
.announcementBarCss {
    background-color: #e74c3c; /* Red alert-style */
    color: white;
    font-weight: bold;
}

.greyBackgroundCss {
    background-color: #e5e5e5;
}


/* Capsule style for tags */
.announcementTagCss {
    background-color: #edeaea;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 0.75rem;
    color: #333333;
    height: auto;
    min-width: auto;
    display: inline-block;
    line-height: normal;
    margin-right: 4px;
    margin-bottom: 4px;
    /* Prevent vertical collapse if wrapping */
    white-space: nowrap;
    /* Prevent tags from breaking into multiple lines */
}

/* Footer Brand Text - Johnson&Johnson */
.footerBrandCss {
    font-size: 1rem !important;
    color: #d73027 !important;
    font-weight: 500 !important;
}



.sectionTitleCss {
    font-size: 1.05rem !important;
    font-weight: bold !important;
}

.viewsTextCss {
    font-style: italic;
}



.rightBorderCss {
    padding-right: 1rem !important;
    border-right: 1px solid #898989 !important;
}

/* Banner container - consistent with cards */
.bannerContainerCss {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

/* Banner background */
.bannerFlexBoxCss {
    background-image: url('../image/Weather_Banner.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

/* Reduce bottom gap compared to content */
.bannerFlexBoxCss.sapUiSmallMarginBottom {
    margin-bottom: 0.5rem !important;
}

/* Text styling */
.bannerDateTempCss {
    font-weight: bold;
    color: white;
}

.bannerGreetingCss {
    color: white;
}
